
# pip -r requirements.txt
# ---- NOTE-CANNOT-FIND-opencc-IN-ANACONDA ---- conda install --file requirements.txt

chardet
colorama
unidecode
opencc # ---- pip install opencc
psutil
scikit-learn
transformers
datasets  # ---- conda install -c huggingface datasets
sentencepiece # ---- conda install -c conda-forge sentencepiece
